.list-element:visited {
    color: red;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.list-element:after {
    content: " (Already viewed)";
    color: red;
}

h3, h2, h1, h4, h5, h6 {
    font-family: 'Academy Engraved LET';
}

.errorlist {
    display: none;
}