{% extends "base.html" %}
{# Title at the Browser #}

{% block title %}
    {{ note.title }}
{% endblock %}

{# Title of the Page #}
{% block page-title %}
    <h3 class="text-center my-4">{{ note.title }}</h3>
{% endblock %}

{# Content area in the page #}
{% block content %}
    <div class="my-1 mx-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 mt-3 border rounded border-dark">
                <div class="my-1 mx-2">
                    <h1 class="text-center">{{ note.title }}</h1>
                    <hr/>
                    <p>{{ note.content }}</p>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}